In [2]:
import pandas as pd
import numpy as np

df_data = pd.read_csv("/Time Series Dataset - Sheet1.csv")

Finds the amount of null data

In [3]:
df_data.isnull().sum()

item_name       0
item_code       0
created_at      0
size            0
quantity        0
price           0
store_type    979
dtype: int64

a.Look for missing values in the store_type column and replace it with "none".

In [4]:
df_data.fillna('none')

                                              item_name  ...                store_type
0                            Men's haircut, barber shop  ...  private_service_provider
1     Sardines, tinned, with skin, in vegetable oil,...  ...         small_medium_shop
2                                 Broken rice, 25%, BNR  ...                      none
3                                    Men's shirt, WKB-M  ...         small_medium_shop
4                                 Vacuum cleaner, WKB-M  ...         small_medium_shop
...                                                 ...  ...                       ...
3494                                           Kerosene  ...                      none
3495                    Water, still, large bottle, WKB  ...         small_medium_shop
3496                   Two-bedroom apartment, 80-120 m2  ...                     other
3497                            Bread, whole wheat, WKB  ...                      none
3498                            Bread, whole wheat, WKB  ...         small_medium_shop

[3499 rows x 7 columns]

b. Print the total number of records.

In [5]:
df_data.size

24493

In [6]:
df_data.columns

Index(['item_name', 'item_code', 'created_at', 'size', 'quantity', 'price',
       'store_type'],
      dtype='object')

c. Print the number of records which doesn't belong into any of the store types.

In [7]:
df_data[df_data.store_type == 'None']

                                       item_name  item_code  ...  price  store_type
36      Urban tram (rail) or tube, single ticket  110731104  ...    0.6        None
143     Urban tram (rail) or tube, single ticket  110731104  ...    4.0        None
438   Interurban transport, single ticket, 50 km  110731101  ...    3.0        None
589     Urban tram (rail) or tube, single ticket  110731104  ...    1.6        None
602     Urban tram (rail) or tube, single ticket  110731104  ...    2.0        None
645     Urban tram (rail) or tube, single ticket  110731104  ...    1.0        None
693   Interurban transport, single ticket, 50 km  110731101  ...   75.0        None
714     Urban tram (rail) or tube, single ticket  110731104  ...    2.1        None
788     Urban tram (rail) or tube, single ticket  110731104  ...    4.0        None
888     Urban tram (rail) or tube, single ticket  110731104  ...    2.0        None
1101  Interurban transport, single ticket, 50 km  110731101  ...   22.0        None
1102  Interurban transport, single ticket, 50 km  110731101  ...    6.0        None
1195  Interurban transport, single ticket, 50 km  110731101  ...    2.5        None
1254  Interurban transport, single ticket, 50 km  110731101  ...   90.0        None
1293  Interurban transport, single ticket, 50 km  110731101  ...    4.8        None
1345    Urban tram (rail) or tube, single ticket  110731104  ...    2.0        None
1517  Interurban transport, single ticket, 50 km  110731101  ...    6.5        None
1785  Interurban transport, single ticket, 50 km  110731101  ...   35.0        None
1903    Urban tram (rail) or tube, single ticket  110731104  ...    1.2        None
1918    Urban tram (rail) or tube, single ticket  110731104  ...    3.0        None
2201    Urban tram (rail) or tube, single ticket  110731104  ...    3.0        None
2332  Interurban transport, single ticket, 50 km  110731101  ...  300.0        None
2647  Interurban transport, single ticket, 50 km  110731101  ...   75.0        None
2897  Interurban transport, single ticket, 50 km  110731101  ...   20.0        None
2938    Urban tram (rail) or tube, single ticket  110731104  ...    0.3        None
3059    Urban tram (rail) or tube, single ticket  110731104  ...    1.0        None
3068  Interurban transport, single ticket, 50 km  110731101  ...   12.5        None
3262  Interurban transport, single ticket, 50 km  110731101  ...    6.5        None
3301    Urban tram (rail) or tube, single ticket  110731104  ...    4.1        None
3336    Urban tram (rail) or tube, single ticket  110731104  ...    0.6        None
3356  Interurban transport, single ticket, 50 km  110731101  ...    5.7        None
3433  Interurban transport, single ticket, 50 km  110731101  ...   12.0        None

[32 rows x 7 columns]

d. From your dataset, create a new frame named sample_frame which will contain only 60% of the original records.

In [8]:
sample_frame = df_data.sample(frac=0.6)
print(sample_frame)

                                   item_name  ...                store_type
2858       Interurban (InterCity) bus, 50 Km  ...  private_service_provider
739        Plaster strips, plastic foil, WKB  ...                       NaN
527        Interurban (InterCity) bus, 50 Km  ...  private_service_provider
1453                   Fresh potatoes, brown  ...                       NaN
569   Men's sport shoes, ADIDAS, ASICS, NIKE  ...          specialized_shop
...                                      ...  ...                       ...
949                             Pork, fillet  ...         small_medium_shop
419       Energy saving light bulb, 15W, WKB  ...         small_medium_shop
2641               Honey, mixed blossoms, BL  ...                       NaN
1625               Toothpaste, tube, COLGATE  ...         small_medium_shop
2156              Foam mattress, double, WKB  ...         small_medium_shop

[2099 rows x 7 columns]

e. Based on the generated sample, determine and print how much amount was added by a contributor on a monthly basis.

Checks the data for the price by grouping it by item name

In [9]:
sample_frame['item_code'].value_counts()

110521103    79
110321101    54
110931110    49
110312107    45
110612105    43
             ..
110452101     1
110453102     1
110611135     1
110951105     1
110622101     1
Name: item_code, Length: 130, dtype: int64

In [10]:
sample_frame.groupby('item_name')['price'].sum()

item_name
AA alkaline batteries, DURACELL                  2073.65
Apple juice, WKB                                  219.45
Bacon, smoked, WKB                                122.90
Bar soap, solid, SB                               214.09
Bath towel, large, WKB                          17485.37
                                                  ...
Wheat flour, not self-rising, BL                  174.81
White sugar, WKB                                  134.76
Women's haircut, basic hairdresser               4820.00
Wrist-watch, men's, CITIZEN Eco-Drive BM6060    34487.90
Yoghurt, plain, WKB                                91.08
Name: price, Length: 130, dtype: float64

In [11]:
sample_frame.columns

Index(['item_name', 'item_code', 'created_at', 'size', 'quantity', 'price',
       'store_type'],
      dtype='object')

f. Based on the generated sample, determine and print the mount added for each store type in each week. Consider only the first 50 records.

assign to sample_frame_fifty the first 50 records and group them by store type and when they were created and add the prices

In [12]:
sample_frame_fifty = sample_frame.head(50)
sample_frame_fifty.groupby(['store_type','created_at'], as_index=False)['price'].sum()

                  store_type        created_at     price
0                      other   4/20/16 4:00 AM   3700.00
1                      other    5/2/16 2:36 PM  30000.00
2                      other   8/8/16 12:27 PM   4000.00
3   private_service_provider   3/28/16 2:50 AM   2380.53
4   private_service_provider   4/18/16 6:06 PM     26.00
5   private_service_provider   6/26/16 5:34 PM     87.00
6          small_medium_shop   3/21/16 8:08 PM    539.00
7          small_medium_shop   3/27/16 2:05 PM   1895.00
8          small_medium_shop   4/12/16 7:31 PM     12.00
9          small_medium_shop  4/18/16 12:13 AM    899.00
10         small_medium_shop   4/18/16 5:13 PM     10.50
11         small_medium_shop   4/24/16 3:24 PM    485.00
12         small_medium_shop   4/24/16 9:33 PM   1499.00
13         small_medium_shop   5/22/16 5:22 PM   3999.00
14         small_medium_shop   5/22/16 5:37 PM    106.00
15         small_medium_shop   5/22/16 9:59 PM     17.59
16         small_medium_shop   5/29/16 3:14 PM     12.85
17         small_medium_shop    5/7/16 4:23 PM     34.99
18         small_medium_shop  6/12/16 10:10 PM   3500.00
19         small_medium_shop  6/19/16 10:41 PM    700.00
20         small_medium_shop   7/10/16 3:19 PM    734.00
21         small_medium_shop   7/10/16 7:28 PM    999.00
22         small_medium_shop   7/27/16 5:28 PM      9.90
23         small_medium_shop    7/3/16 3:39 PM     65.00
24         small_medium_shop  7/31/16 10:30 PM     29.90
25          specialized_shop  4/10/16 12:50 PM     14.96
26          specialized_shop    4/3/16 1:56 PM    669.00
27          specialized_shop    4/6/16 9:24 PM     15.71
28          specialized_shop   5/31/16 5:42 PM    659.00
29          specialized_shop   6/15/16 4:38 PM    620.00
30          specialized_shop   8/10/16 3:56 PM   1899.00
31             street_outlet   5/29/16 6:11 PM    100.00

g. Based on the generated sample, create a group object named group_data and create a grouping on the basis of store type. Determine and print the total amount per store type.

The same as the previous operation where they are grouped by store_type and adds their prices

In [13]:
group_data = sample_frame_fifty
group_data.groupby(['store_type'], as_index=False)['price'].sum()

                 store_type     price
0                     other  37700.00
1  private_service_provider   2493.53
2         small_medium_shop  15547.73
3          specialized_shop   3877.67
4             street_outlet    100.00